/*COLORS AND TEXT DESIGNS*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Varela+Round&display=swap');




body {
  background-color: rgb(255, 222, 202);
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

h1, h2 {
  font-family: 'Varela', sans-serif;
  line-height: 1.6;
}

h1 {
  font-size: 28px;
  color:rgb(25, 18, 126);
}

h2 {
  font-size: 20px;
  color: rgb(255, 107, 58);
}

p {
  color: rgb(50, 50, 50);
}

img {
  width: 100px;
}

a {
  font-size: 64px;
  color: rgb(209, 65, 17);
}

a:hover {
  color: rgb(25, 18, 126);
}

.btn-orange {
  margin-top: 32px;
  background-color: rgb(136, 255, 86);
  color:rgb(25, 18, 126);
  border-radius: 16px 4px;
  padding: 12px 16px;
  border: 1px solid rgb(105, 247, 44);
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
}

.btn-orange:hover {
  border: 1px solid rgb(25, 18, 126);
  background-color: rgb(131, 201, 251);
  color: rgb(25, 18, 126);
  font-weight: bold;
  font-size: 16px;
}

.card-white {
  background-color: white;
  padding : 24px;
  border-radius: 5px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(209, 65, 17, 0.4);
  margin: 16px auto;
  width: 1000px;
}

#img-circle {
  border-radius: 50%;
}

.list-inline {
  list-style: none;
  padding-left: 0px;
}

.list-inline > li {
  display: inline-block;
  padding: 0px 16px;
}

.text-center {
  text-align: center;
}


/* taille par default: 1000px */
@media (max-width: 1200px) {
  /*Pour un écran < 1200px, cette class CSS s'applique */
  .card-white {
    width: 900px;
  }
}

@media (max-width: 960px) {
  /* Pour un écran < 960px, cette classe CSS s'applique */
  .card-white {
    width: 700px;
  }
}

@media (max-width: 720px) {
  /* Pour un écran < 720px, cette classe CSS s'applique */
  .card-white {
    width: 500px;
  }
}

@media (max-width: 540px) {
  /* Pour un écran < 540px, cette classe CSS s'applique */
  .card-white {
    width: 300px;
  }
}
